/*
    Navbars: #276678
    Navbar Text: #F6F5F5
    Foreground Text: #276678
    BG Text: #1687A7
    Date/Info Text: #333
    Date/Info BG: #D3E0EA
    BTN Drop Shadow: #276678 x:0 y; 3 b?: 6 4%
*/

h1 {
    font-family: "Satisfy", sans-serif;
    text-align: center;
}